  .feature-grids span {
    font-weight: 800;
    color: #ff6600;
    font-size: 24px;
    transition: all 0.3s ease 0s;
    background: rgba(94,44,237,0.15);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    display: inline-block;
}

.feature-grids h3 {
    
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 12px;
}

  .feature-grids span {
    font-weight: 800;
    color: #ff6600;
    font-size: 24px;
    transition: all 0.3s ease 0s;
    background: rgba(94,44,237,0.15);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    display: inline-block;
}
/*-- //services --*/
/*-- banner bottom --*/
/*-- about bottom --*/
.inner-heading h4 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 30px;
    text-transform: uppercase;
}



h3.heading, h2.heading {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 50px;
    text-align: center;
}
h5.heading {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
}
